<div class="twitch">
  <iframe [width]="videoWidth" [height]="videoHeight" src="https://player.twitch.tv/?channel=derstaubwedel"
    frameborder="0" scrolling="no" allowfullscreen="false">
  </iframe>
</div>