<mat-card height="720" class="teamspeak-card">
  <mat-card-header>
    <mat-card-title>Shneky-Staubwedel- ✖ -Community-Server</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="teamspeak-tree">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <li class="mat-tree-node">
          <button mat-icon-button disabled></button>
          <mat-icon *ngIf="node.is_client" class="client-icon">account_circle</mat-icon>
          {{formatName(node.name)}}
        </li>
      </mat-tree-node>

      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <li>
          <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{formatName(node.name)}}
          </div>
          <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </li>
      </mat-nested-tree-node>
    </mat-tree>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="accent" target="_blank" href="ts3server://derstaubwedel.com?port=9987&nickname=guest">
      <mat-icon>launch</mat-icon> Connect
    </a>
    <button ngxClipboard [cbContent]="teamspeakUrl" mat-raised-button color="primary">
      <mat-icon>file_copy</mat-icon> Copy Address
    </button>
  </mat-card-actions>
</mat-card>