<mat-toolbar color="primary">
  <div><a routerLink="/">Der Staubwedel</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <!-- <li><a routerLink="/blog">Blog</a></li>
      <li><a routerLink="/teamspeak">Teamspeak</a></li> -->
    </ul>
  </div>
</mat-toolbar>